.movie_List_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.movie_card {
  margin: 0 10px;
  box-shadow: 0px 0px 4px gray;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.movie_card:hover {
  transform: scale(1.1);
}

.bookmark-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  min-width: 80%;
}

.movie_card:hover .bookmark-button {
  opacity: 1;
}

.bookmark-button:hover {
  background-color: #c0392b;
  transform: translate(-50%, -2px);
}
