* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Header {
  margin-bottom: 20px;
}

.menu-button {
  padding: 2rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s;
  position: relative;
  align-self: flex-start;
}

.menu-button:hover {
  color: blue;
  border-radius: 8px;
}

.genre-menu {
  position: absolute;
  top: 42%;
  left: 28px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 10px;
  width: 200px;
  display: block;
}

/* Genre list styling */
.genre-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.genre-menu ul li {
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.genre-menu ul li:hover {
  background-color: #f0f0f0;
  color: rgb(74, 74, 74);
  border-radius: 8px;
}

.allMovies_container,
.movies {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-content: space-around;
  width: 100%;
  gap: 50px;
}

.movie-card1,
.movie-card {
  margin: 0 10px;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  height: auto;
}

.movie-card1:hover,
.movie-card:hover {
  transform: scale(1.05);
}

.movie-card1 img,
.movie-card img {
  max-width: 200px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 4px gray;
  /* transition: transform 0.3s ease-in-out; */
  margin-bottom: 10px;
}

h1,
h2,
h3 {
  font-family: 'Arial', sans-serif;
}

h2 {
  font-size: 1rem;
  color: white;
  margin-left: 40px;
}

h3 {
  font-size: 0.5rem;
  color: gray;
}

.reset-button {
  padding: 10px;
  color: #333;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .Categories-container {
    padding: 10px;
  }

  .movie-card1,
  .movie-card {
    flex: 1 1 calc(50% - 20px);
  }

  h1,
  h2,
  h3 {
    font-size: 1rem;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
