
.categories-container {
  margin-top: 30px;
  padding: 20px;
  color: #fff;
  width: 300px;
}
.genre-section h2 {
  margin-top: 20px;
  font-size: 2rem;
  color: #e50914;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  gap: 150px;
}
.movie-card {
  width: 400px;
  height: auto;

  background-color: #1c1c1c;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.movie-card img {
  width: 100%;
  object-fit: cover;
}
.movie-card img:hover {
  overflow: hidden;
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.movie-details {
  padding: 10px;
  margin-left: 10px;
  height: 1rem;
}
.movie-details h1 {
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px;
  margin-left: 10px;
  color: #fff;
}

.movie-details p {
  font-size: 1.5rem;
  color: #b3b3b3;
  padding: 18px;
}
.menu-button {
  background-color: #e50914;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-left: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  z-index: 1000;
}
.menu-button:hover {
  background-color: #f6121d;
}
.GenreMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}
