.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2rem 3rem;
    gap: 2rem;
    margin-top: 20px;


    & .logo a{
     font-size: 3.5rem;
     text-decoration: none;
     font-weight: 700;
     color: #e50914;
     letter-spacing: 3px;


   }
   &
   .logo a:hover {
      color: #c51922;
   }

    
}